extends layout

block content
  .container.mt-5
    .card.border-primary.mb-3
      .card-header
        h1 The Todo app using Node and express 
      .card-body
        .card-title
          h3 The primary input
        .card-text.mt-5
          form(action='/submit', method='POST')
            .input-group.mb-3
              input.form-control(type='text', placeholder='Input your todo', aria-label="Recipient's username", aria-describedby='button-addon2', name='item')
              .input-group-append
                button#button-addon2.btn.btn-outline-primary(type='submit') Submit
      .card-body
        .card-title
          h3 The todo task
        ul.list-group
        each val,i in todos 
          li.list-group-item.d-flex.justify-content-between.align-items-center
            p.lead #{val.item}
            form(action="/edit/#{val._id}", method="PUT")
              button.btn.btn-success.mr-5(type='submit') Edit
            form(action="/delete/#{val._id}")
              button.btn.btn-danger(type='submit') Delete
          